# HTTP
HTTP_PORT=8080
#PG
PG_POOL_MAX=10
PG_CONN=postgres://user:db_password@db:5432/db
# STORAGE
STORAGE_TYPE=postgres # memory/postgres

# 
POSTGRES_USERNAME=user
POSTGRES_PASSWORD=db_password
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DATABASE=db
